* {
    background-color: rgb(230, 185, 63);
}

p {
    font-family: Arial, sans-serif;
    background-color: rgb(221, 136, 56);
    border: solid rgb(248, 119, 119);
    border-radius: solid 2px;
    margin: 5px 5px 5px 5px;
    padding-top: 5px 5px 5px 5px;
}